body {
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
}

#dropArea {
    margin: 15px 0;
    display: block;
    width: 400px;
    height: 200px;
    border: 2px dashed #424200;
    background: #f2f7f7;
    line-height: 200px;
    color: #424200;
    padding: 10px;
    font-size: 18px;
}

#loading {
    margin: 20px;
    text-align: center;
    visibility: hidden;
}

#errors {
    margin: 20px;
    text-align: center;
    color: #9b0717;
    display: block;
}

.post {
    margin: 5px auto 20px;
    width: 400px;
}

.post h2 {
    margin-bottom: 2px;
    font-size: 16px;
}

.post p {
    margin-top: 2px;
    font-size: 13px;
}