body {
    font-family: sans-serif;
}
.container {
    background-color: #303030;
    background-image: linear-gradient(#6a3c54 .1em, transparent .1em);
    background-size: 100% 2.5em;
    color: #fff;
    width: 830px;
    height: 320px;
}
.text-container {
    float: right;
    text-align: left;
    width: 500px;
    padding-top: 87px;
}
svg {
    margin-top: 40px;
    margin-left: 40px;
}
h2 {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 18px;
}
h1 {
    margin-top: 2px;
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 40px;
}
h3 {
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 15px;
}
